* {

    box-sizing: border-box;
    padding: 0 ;
    margin: 0%;

    font-family: "Inter", sans-serif;

    

}


body {
    /* font-family: sans-serif;
    text-align: center;
    padding: 20px;
    height: 100vh;
    position: relative;;
    display: flex;
    justify-content: center; */
    
    /* ---- */

    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F5F5F5;
    overflow-x: hidden;
    flex-direction: column;

  }

  input, button {
    padding: 10px;
    /* margin: 5px; */
    font-size: 16px;
}

#email {
  flex: 1 1 auto; 
  min-width: 0;
  border: #FFFFFF ;
  

}

#join-btn {
    border: none;
    font-weight: 600;
    white-space: nowrap;
    background-color: #FF7043;
    color: #F5F5F5;
    flex-shrink: 0;

  }

  #message {
    margin-top: 20px;
    font-weight: bold;
  }

  #email-form {
    display: flex;
    flex-wrap: nowrap; 
    gap: 0.5rem;
    max-width: 100%;
    overflow: hidden;
  }

  #logo {
    position: absolute;
    top: 30px;
    left: 30px;
    font-weight: 700;
    font-size: 2rem;
    color: #FF8A65;
}


#title {
    
    font-size: clamp(2rem, 5vw, 4rem); /* Mínimo 2rem, ideal 5% del viewport, máximo 4rem */
    font-weight: 900;
  
}

#subtitle {
    
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  /* font-size: clamp(1.5rem, 2.5vw, 2rem); */
  font-weight: 500;

  color: #2E2E2E;
 
  letter-spacing: 1px;
 

}


.coming {
    /* font-size: 1.2rem; */
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 600;
    color: #2E2E2E;
}

.info-wrapper {

    width: 100%;
    max-width: clamp(400px, 80%, 1100px);
    /* max-width: 600px; */
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: column ;
    gap: 1rem;
}

#social {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    
}

#icons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: clamp(1.3rem, 5vw, 1.5rem); /* Mínimo 2rem, ideal 5% del viewport, máximo 4rem */
}

#icons a {
    color: #2E2E2E;
    cursor: pointer;
}

#form-container {
    margin-top: 1.5rem;

}


#contact {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 500 ;
    color: #4A90E2 ;
}



@media screen  and (min-width: 600px){
    body {
        padding: 100px;
    }

    #logo {
      top: 50px;
      left: 100px;

    }

    #subtitle {
        /* font-size: 2rem; */
    }

    #social {
        padding: 30px 50px;
    }

    #icons {
        gap: 10px;
    }

    #icons a {
        font-size: 1.6rem;
    }

    #contact:hover {
        color: rgb(59, 58, 58);
    }

    #title {
        /* font-size: 5rem; */
        text-align: start;
    }

   

    #email-form {
        width: clamp(300px, 60%, 500px);
        /* width: 50%; */
        /* border: 1px solid green; */
    }

    #form-container {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
    }

    #join-btn:hover {
        opacity: 90%;
        background-color: #fd4f1f;;
        cursor: pointer;
    }
    
    
}